[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.0"
pillow = "*"
django-environ = "*"
crispy-bootstrap5 = "*"
django-taggit = "*"
social-auth-app-django = "*"
django-tinymce = "*"

[dev-packages]
black = "*"
isort = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.11"
