[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.0"
pillow = "~=10.3.0"
markdown = "~=3.6"
django-environ = "~=0.11"
crispy-bootstrap5 = "~=2024.2"
django-taggit = "~=5.0"

[dev-packages]
black = "~=24.3"
isort = "~=5.13"
django-debug-toolbar = "~=4.3"

[requires]
python_version = "3.11"
