<div class="row mb-2">
  <div class="col-md-1 col-sm-2">
    <a href="{{ fol_user.user.get_absolute_url }}">
      <img
        src="{{ fol_user.image.url }}"
        alt="avatar"
        class="rounded-circle img-fluid"
        style="width: 60px"
      />
    </a>
  </div>
  <div class="col-md-9 col-sm-7">
    <a
      href="{{ fol_user.user.get_absolute_url }}"
      class="text-decoration-none link-body-emphasis"
    >
      <h5>{{ fol_user.user.get_full_name }}</h5>
    </a>
    {% if fol_user.user.headline %}
      <p class="text-muted">{{ fol_user.user.headline }}</p>
    {% endif %}
  </div>

  {% if request.user.is_authenticated %}
    <div class="col-md-2 col-sm-3">
      <form
        action="{% url 'users:follow-toggle' fol_user.user.id %}"
        id="follow-toggle-list-form-{{ fol_user.user.id }}"
        method="post"
      >
        {% csrf_token %}
        {% if fol_user in user.profile.get_followings %}
          <button
            type="button"
            class="btn btn-outline-success pull-right follow-toggle-list-btn"
            data-user-id="{{ fol_user.user.id }}"
          >
            Following
          </button>
        {% else %}
          {% if not fol_user == user.profile %}
            <button
              type="button"
              class="btn btn-success pull-right follow-toggle-list-btn"
              data-user-id="{{ fol_user.user.id }}"
            >
              Follow
            </button>
          {% endif %}
        {% endif %}
      </form>
    </div>
  {% else %}
    <div class="col-md-2 col-sm-3">
      <form action="{% url 'users:follow-toggle' fol_user.user.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success my-2">Follow</button>
      </form>
    </div>
  {% endif %}
</div>
