{% if page_name == 'user_followers' %}

  <div class="row mb-2">
    <div class="col-md-1 col-sm-2">
      <a href="{{ follower.user.get_absolute_url }}">
        <img
          src="{{ follower.image.url }}"
          alt="avatar"
          class="rounded-circle img-fluid"
          style="width: 60px"
        />
      </a>
    </div>
    <div class="col-md-9 col-sm-7">
      <a
        href="{{ follower.user.get_absolute_url }}"
        class="text-decoration-none link-body-emphasis"
      >
        <h5>{{ follower.user.get_full_name }}</h5>
      </a>
      {% if follower.user.headline %}
        <p class="text-muted">{{ follower.user.headline }}</p>
      {% endif %}
    </div>
    
    {% if request.user.is_authenticated %}
      <div class="col-md-2 col-sm-3">
        {% if follower in user.profile.get_followings %}
            <button class="btn btn-outline-success pull-right">Following</button>
        {% else %}
          {% if not follower == user.profile %}
            <button class="btn btn-success pull-right">Follow</button>
          {% endif %}
        {% endif %}
      </div>
    {% else %}
      <div class="col-md-2 col-sm-3">
        <button class="btn btn-success pull-right">Follow</button>
      </div>
    {% endif %}
  </div>

{% elif page_name == 'user_following' %}

  <div class="row mb-2">
    <div class="col-md-1 col-sm-2">
      <a href="{{ following.user.get_absolute_url }}">
        <img
          src="{{ following.image.url }}"
          alt="avatar"
          class="rounded-circle img-fluid"
          style="width: 60px"
        />
      </a>
    </div>
    <div class="col-md-9 col-sm-7">
      <a
        href="{{ following.user.get_absolute_url }}"
        class="text-decoration-none link-body-emphasis"
      >
        <h5>{{ following.user.get_full_name }}</h5>
      </a>
      {% if following.user.headline %}
        <p class="text-muted">{{ following.user.headline }}</p>
      {% endif %}
    </div>

    {% if request.user.is_authenticated %}
    <div class="col-md-2 col-sm-3">
      {% if following in user.profile.get_followings %}
          <button class="btn btn-outline-success pull-right">Following</button>
        {% else %}
          {% if not following == user.profile %}
            <button class="btn btn-success pull-right">Follow</button>
          {% endif %}
        {% endif %}
      </div>
    {% else %}
      <div class="col-md-2 col-sm-3">
        <button class="btn btn-success pull-right">Follow</button>
      </div>
    {% endif %}
  </div>

{% endif %}
