<div class="card mb-4">
  <div class="card-body">
    <div class="d-flex align-items-center my-4">
      <a href="{{ post.author.get_absolute_url }}">
        <img
          class="rounded-circle me-3"
          width="40"
          height="40"
          src="{{ post.author.profile.image.url }}"
          alt="..."
        />
      </a>
      <div class="small">
        <a
          class="text-decoration-none text-dark"
          href="{{ post.author.get_absolute_url }}"
        >
          {% if post.author.first_name and post.author.last_name %}
            <!-- you can create custom filter for this -->
            <div class="fw-bold">{{ post.author.get_full_name }}</div>
          {% else %}
            <div class="fw-bold">{{ post.author.username }}</div>
          {% endif %}
        </a>
        <div class="text-muted">{{ post.publish|date:'M j, Y' }}</div>
      </div>
    </div>
    <h2 class="h4 fw-bolder">
      <a
        href="{{ post.get_absolute_url }}"
        class="text-decoration-none text-dark"
        >{{ post.title }}</a
      >
    </h2>
    {% if post.overview %}
      <p class="card-text">
        {{ post.overview }} — {{ post.content|truncatewords:20 }}
      </p>
    {% else %}
      <p class="card-text">{{ post.content|truncatewords:30 }}</p>
    {% endif %}
    <span class="text-muted small px-2"
      >{{ post.reading_time_minutes }} min read
    </span>
  </div>
</div>
