{% load pagination_tags %}

{% for post in posts %}
{% if forloop.last and page_obj.has_next %}
<div class="card mb-4"
  hx-trigger="revealed"
  hx-get="{% get_next_page_url tag=tag query=query username=username %}"
  hx-swap="afterend"
>
{% else %}
<div class="card mb-4">
{% endif %}
  <div class="card-body" id="post-list">
    <div class="d-flex align-items-center my-4">
      <a href="{{ post.author.get_absolute_url }}">
        <img
          class="rounded-circle me-3" width="40" height="40"
          src="{{ post.author.profile.image.url }}"
          alt="{{ post.author.get_full_name }}'s Profile"
        />
      </a>
      <div class="small">
        <a href="{{ post.author.get_absolute_url }}" class="text-decoration-none text-dark">
          <div class="fw-bold">{{ post.author.get_full_name }}</div>
        </a>
        <div class="text-muted">{{ post.publish|date:'M j, Y' }}</div>
      </div>
    </div>
    <h2 class="h4 fw-bolder">
      <a href="{{ post.get_absolute_url }}" class="text-decoration-none text-dark">
        {{ post.title }}
      </a>
    </h2>
    <p class="card-text">
      {% if post.overview %}
      {{ post.overview|truncatewords:20|safe }}
      {% else %}
      {{ post.content|truncatewords:30|safe }}
      {% endif %}
    </p>

    <!-- if the page is user's profile page or page filtered by tag, don't display the post's tag -->
    {% if page == 'profile' or tag %}
      <span class="text-muted small">{{ post.get_read_time }}&nbsp;min read</span>
    {% else %}
      {% with tag=post.tags.all|first %}
        {% if tag %}
        {% include 'blogs/partials/tags_component.html' with extra_class="px-3 small" %}
        {% endif %}
        <span class="text-muted small {% if tag %}px-2{% endif %}">
          {{ post.get_read_time }} min read
        </span>
        {% endwith %}
    {% endif %}
  </div>
</div>
{% empty %}
<div class="text-center py-4 px-4">
  <h2>No blog posts available at the moment.</h2>
</div>
{% endfor %}
