{% for post in posts %}
{% if forloop.last and page_obj.has_next %}
<div class="card mb-4"
  hx-trigger="revealed"
  hx-get="{% if is_index_post_list %}{% url 'blogs:index' %}{% else %}{{ user.get_absolute_url }}{% endif %}?page={{ page_obj.number|add:1 }}"
  hx-swap="afterend"
>
{% else %}
<div class="card mb-4">
{% endif %}
  <div class="card-body" id="post-list">
    <div class="d-flex align-items-center my-4">
      <a href="{{ post.author.get_absolute_url }}">
        <img
          class="rounded-circle me-3"
          width="40"
          height="40"
          src="{{ post.author.profile.image.url }}"
          alt="{{ post.author.get_full_name }}'s Profile"
        />
      </a>
      <div class="small">
        <a
          class="text-decoration-none text-dark"
          href="{{ post.author.get_absolute_url }}"
        >
          <div class="fw-bold">{{ post.author.get_full_name }}</div>
        </a>
        <div class="text-muted">{{ post.publish|date:'M j, Y' }}</div>
      </div>
    </div>
    <h2 class="h4 fw-bolder">
      <a
        href="{{ post.get_absolute_url }}"
        class="text-decoration-none text-dark"
      >
        {{ post.title }}
      </a>
    </h2>
    <p class="card-text">
      {% if post.overview %}
      {{ post.overview|truncatewords:20|safe }}
      {% else %}
      {{ post.content|truncatewords:30|safe }}
      {% endif %}
    </p>

    {% with tag=post.tags.all|first %}
    {% if tag %}
    <span
      class="px-3 small rounded-pill"
      style=" display: inline-block; background-color: #f2f2f2; border: 1px solid #f2f2f2;"
    >
      <a href="" class="text-decoration-none text-dark">
        {{ tag.name|capfirst }}
      </a>
    </span>
    {% endif %}
    <span class="text-muted small {% if tag %}px-2{% endif %}"
    >{{ post.reading_time_minutes }} min read
    </span>
    {% endwith %}
  </div>
</div>
{% empty %}
<div class="text-center py-4 px-4">
  <h2>No blog posts available at the moment.</h2>
</div>
{% endfor %}
