{% extends "accounts/user_base.html" %}

{% block content %}
<section>
  <div class="container py-5">
    <div class="row">

      <div class="row g-5">
        <div class="col-md-8">
          <!-- breadcrumb navigation -->
          {% include 'accounts/partials/user_follow_navigation.html' %}
          <!-- breadcrumb navigation end -->

          <h2 class="pb-4 mb-4 border-bottom">
            {{ following_count }} Following
          </h2>

          <!-- following list -->
          {% for following in followings %}
            {% include 'accounts/partials/user_follow_list.html' %}
          {% empty %}
            {% if request.user == profile.user %}
              You haven't followed anyone yet.
            {% else %}
              {{ profile.user.get_full_name }} hasn't followed anyone yet.
            {% endif %}
          {% endfor %}
        </div>
    
        <div class="col-md-4">
          <div class="position-sticky" style="top: 2rem;">
            {% include 'accounts/partials/user_profile_sidebar.html' %}
          </div>  
        </div>
      </div>
    
    </div>
  </div>
</section>
{% endblock content %}
