{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}
  {% if user.first_name and user.last_name %}
  {{ user.get_full_name }} &ndash; MyBlog

  {% else %}
  {{ user.username }} - MyBlog
  {% endif %}
{% endblock title %}
{% block extrastyles %}
<link rel="stylesheet" href="{% static 'css/breadcrumbs.css' %}">
{% endblock extrastyles %}

{% block content %}
<section>
  <div class="container py-5">
    <div class="row">
      
      <div class="row g-5">
        <div class="col-md-8">
          <h2 class="pb-4 mb-4 border-bottom">
            {% if user.first_name %}
            {{ user.get_full_name }}
            {% else %}
            {{ user.username }}
            {% endif %}
          </h2>
    
          <div class="container my-5">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                  <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Library</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Data
                </li>
              </ol>
            </nav>
          </div>
          
          <!-- user's posts list -->
          {% include 'blogs/post_list.html' %}
          <!-- user's posts list end -->
        </div>
    
        <div class="col-md-4">
          <div class="position-sticky" style="top: 2rem;">
            <div class="card mb-4">
              <div class="card-body">
                <img
                  src="{{ user.profile.image.url }}"
                  alt="avatar"
                  class="rounded-circle img-fluid"
                  style="width: 120px;"
                />
                <h5 class="mt-3">
                  {% if user.first_name and user.last_name %}
                  {{ user.get_full_name }}
                  {% else %}
                  {{ user.username }}
                  {% endif %}
                </h5>
    
                {% comment %} <a class="text-decoration-none link-secondary" href="{% url "users:followers" user.username %}">{{ user.followers.all.count }} followers</a> {% endcomment %}
                <a class="text-decoration-none link-secondary" href="#">{{ followers_count }} followers</a>
                
                {% if user.headline %}
                <p class="text-muted mt-3 mb-1">{{ user.headline }}</p>
                {% endif %}
                
                <div class="d-flex justify-content mb-2">
                  {% if request.user == user %}
                  <a
                  class="text-decoration-none py-2"
                  href="{% url 'accounts:profile_edit' %}">
                  Edit profile
                  </a>
                  {% else %}
                  <form action="{% url "users:follow" user.username %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-success my-2" type="submit">Follow</button>
                  </form>
                  {% endif %}
                </div>
              </div>
            </div>
    
          </div>  
        </div>
      </div>
    
    </div>
  </div>
</section>
{% endblock content %}
