{% load crispy_forms_tags %}

<form class="mb-4" action="" method="post" novalidate>
  {% csrf_token %}
  {{ form|crispy }}
  <div style="display: flex; justify-content: flex-end">
    <button id="commentButton" class="btn btn-success my-2" type="submit" disabled>
      Comment
    </button>
  </div>
</form>

<script type="text/javascript">
  const commentInput = document.getElementById("id_comment");
  const commentBtn = document.getElementById("commentButton");

  commentInput.addEventListener("input", function () {
    commentBtn.disabled = this.value === "";
  });
</script>
