{% extends 'base.html' %}

{% block content %}
{% if not request.user.is_authenticated %}
<main class="flex-shrink-0">
  <section class="py-5 bg-light">
    <div class="container px-5">
      <div class="card border-0 rounded-3 overflow-hidden">
        <div class="card-body p-0 bg-light">
          <div class="row gx-0">
            <div class="col-lg-6 col-xl-5 py-lg-5">
              <div class="p-4 p-md-5">
                <div class="h1 fw-bolder">Stay curious.</div>
                <p>
                  Discover stories, thinking, and expertise from writers on any
                  topic.
                </p>
                <a
                  class="stretched-link text-decoration-none"
                  href="{% url 'accounts:login' %}"
                >
                  Start reading
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-5">
    <div class="container px-5">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h2 class="fw-bolder fs-5 mb-4">Trending on MyBlog</h2>
          <!-- News item-->
          <div class="mb-4">
            <div class="small text-muted">May 12, 2023</div>
            <a class="link-dark" href="#!"
              ><h3>
                Start Bootstrap releases Bootstrap 5 updates for templates and
                themes
              </h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<hr />

{% endif %}

<div class="container py-4">
  <div class="row">
    <!-- Blog entries-->
    <div class="col-lg-8">
      <div class="row">
        <!-- posts list -->
        {% include 'blogs/post_list.html' %}
        <!-- posts list end -->
      </div>
      <!-- Pagination-->
      {% if posts|length > 0 %}
        {% include 'partials/pagination.html' with page=posts %}
      {% endif %}
    </div>

    <!-- Side widgets-->
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-header">Discover more of what matters to you</div>
        <div class="card-body">
          <div class="row">
            {% for tag in tags %}
            <div class="col-sm-3 mb-2">
              <a
                class="badge bg-secondary-subtle border border-secondary-subtle text-decoration-none py-2 text-secondary-emphasis rounded-pill"
                href="#!"
                >{{ tag }}</a
              >
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
