{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.title }}&nbsp;&ndash;&nbsp;{% endblock title %}

{% block extrastyles %}
<link rel="stylesheet" href="{% static 'blogs/css/prism.css' %}" />
<script src="{% static 'blogs/js/prism.js' %}"></script>
{% endblock extrastyles %}

{% block content %}
<main class="flex-shrink-0">
  <!-- Page Content-->
  <section class="py-5">
    <div class="container px-5 my-5">
      <div class="col-lg-9 mx-auto">
        <!-- Post content-->
        <article>
          <!-- Post header-->
          <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
            {% if post.overview %}
              <div class="my-4">
                <h4 class="text-muted">{{ post.overview }}</h4>
              </div>
            {% endif %}
            <div class="d-flex align-items-center mt-lg-4 mb-4">
              <a href="{{ post.author.get_absolute_url }}">
                <img class="rounded-circle" width="40" height="40"
                  src="{{ post.author.profile.image.url }}"
                  alt="{{ post.author.get_full_name }}'s Profile"
                />
              </a>
              <div class="ms-3">
                <div>
                  <span class="fw-bold">
                    <a class="text-decoration-none text-dark" href="{{ post.author.get_absolute_url }}">
                      {{ post.author.get_full_name }}
                    </a>
                  </span>
                  &nbsp;&middot;&nbsp;
                  <span>
                    <a class="text-decoration-none btn">Follow</a>
                  </span>
                </div>
                <div class="text-muted">
                  <span>{{ post.get_read_time }} min read</span>
                  &nbsp;&middot;&nbsp;
                  <span>Last Updated {{ post.updated|date }}</span>
                </div>
              </div>

              {% if request.user == post.author %}
              <div class="ms-3">
                <a class="btn btn-success" href="{% url 'blogs:post_update' post.slug %}">Update</a>
                <!-- Post delete button trigger modal -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  Delete
                </button>
              </div>
              {% endif %}
              <!-- Post delete modal -->
              {% include 'blogs/post_delete.html' %}
              <!-- Post delete modal end  -->
            </div>

            <div class="d-flex align-items-center mt-lg-4 mb-4 border-top border-bottom">
              <!-- post like button & counts -->
              {% include 'blogs/post_likes.html' %}

              <!-- post comments list & count -->
              <div class="ms-4">
                {% include 'blogs/post_comments.html' %}
              </div>
            </div>
          </header>
          <!-- Preview image figure-->
          <figure class="mb-4">
            {% if post.thumbnail %}
            <img class="img-fluid rounded" src="{{ post.thumbnail.url }}" alt="post thumbnail"/>
            {% endif %}
          </figure>
          <!-- Post content-->
          <section class="mb-5">
            <div class="content">{{ post.content|safe }}</div>
          </section>

          <!-- post related tag -->
          <div class="mb-4">
            {% for tag in related_tags %}
            {% include 'blogs/partials/tags_component.html' with extra_class="p-1 px-3 mb-2 me-1 " %}
            {% endfor %}
          </div>
          <!-- post related tag end -->
        </article>
      </div>
    </div>
  </section>
</main>
{% endblock content %}

{% block scripts %}
<script src="{% static 'blogs/js/post_like.js' %}"></script>
<script src="{% static 'accounts/js/user_follow_list.js' %}"></script>
{% endblock scripts %}
