{% extends 'base.html' %}
{% block title %}About | MyBlog{% endblock title %}

{% block content %}
<div class="container pt-4 col-lg-6 col-md-4">
  <div class="position-sticky" style="top: 2rem">
    <div class="p-4 mb-3">
      <h2>About Us</h2>
      <p class="mb-0">
        Welcome to myBlog, a blog application built using Django framework and Bootstrap, your number one source for all django related news,
        tutorials and information.
        We're dedicated to providing you the very best content, with an emphasis on community standards.
      </p>
    </div>
  </div>
</div>
{% endblock content %}
